body{
  background:#000000;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:#00E0F2;
}
.btn{
  margin-top: .5em;
  padding:1em;
  background-color:#FFFFFF;
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.content{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/damaged2.jpg);
  padding-top:180px;

}
.divListItem{
  width:100%;
  margin-top: 1em;
  border: 1px solid #CCCCCC;
  padding:1.33em;
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.glyphicon-trash{
  color: black;
  font-size: 3em;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.glyphicon-trash:hover{
  color: red;
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.glyphicon-list-alt{
  color:black;
  font-size: 3em;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.glyphicon-list-alt:hover{
  color:blue;
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.linkManagement{
  margin-left: 10%;
  width:800px;
}
.listContainer{
  border: 1px solid #e6caff;
  margin-top: 1em;
  padding: 2em 3em 3em 3em;
  background-color: rgba(120, 120, 120, 0.5);
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.listContainer2{
  border: 1px solid #e6caff;
  margin-top: 1em;
  padding: 2em 3em 3em 3em;
  background-color: rgba(51,28,75,0.8);
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.listContainer3{
  border: 1px solid #e6caff;
  margin-top: 1em;
  padding: 2em 3em 3em 3em;
  background-color: rgba(51,28,75,0.8);
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.marker{
  font-family: 'Permanent Marker', cursive;
}
.markerColor1{
  color: #FFFFFF;
  font-size: 1.5em;
}
.markerColor2{
  color: #e6caff;
  font-size: 1.5em;
}
.markerColor2:hover{
  color: #00E0F2;
  font-size: 1.5em;
}
.siteName{
  font-size:2.25em;
  color: black;
  text-decoration: none;
}
.siteName:hover{
  text-decoration: none;
}
.title{
  text-shadow: 4px 4px 4px #e6caff;
  font-size:2em;
}
.tubes{
  background: url(../images/wall1.jpg);
}
#displaySeparator{
  height:3px;
  width:100%;
  background-color: #000;
}
#foot{
  background: #000;
  padding-top:5%;
  padding-bottom:5%;
  width:100%;
}
#getAllLinks{
  width:100%;
}
#links_Controls{
  width:100%;
  margin-bottom: 1em;
}
#links_displayAndUpdate{
  width:100%;
  background-color: #000;
}
#navvy{
  background: url(../images/wall1.jpg);
  background-position: right 0px bottom 480px;
  border: 3px solid black;
  -webkit-box-shadow: 10px 10px 50px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 10px rgba(0,0,0,0.75);
  padding-bottom: 1em;
  padding-left:1em;
  width:100%;
  z-index: 10; position: absolute;
}
