a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.content{
  display: flex;
}
.marker{
  font-family: 'Permanent Marker', cursive;
}
.linkManagement{
  width:49%;
}
.siteName{
  font-size:2.25em;
  color: black;
  text-decoration: none;
}
.siteName:hover{
  text-decoration: none;
}
.title{
  text-shadow: 4px 4px 4px #e6caff;
  font-size:2em;
}
.listContainer{
  border: 1px solid #999999;
  margin-top: 1em;
  padding: 2em 3em 3em 3em;
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.divListItem{
  margin-top: 1em;
  border: 1px solid #CCCCCC;
  padding:1.33em;
  -webkit-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
  box-shadow: 10px 10px 7px -8px rgba(0,0,0,0.24);
}
.glyphicon-trash{
  color: black;
  font-size: 3em;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.glyphicon-trash:hover{
  color: red;
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.glyphicon-list-alt{
  color:black;
  font-size: 3em;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.glyphicon-list-alt:hover{
  color:blue;
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
#getAllLinks{
  width:100%;
}
#links_Controls{
  width:100%;
  
}
