<div ng-click="ctrl.getLinks()" class="marker">
  <div class="btn" ng-click="">Show all links</div>
</div>
<div ng-click="ctrl.toggleCreateLinkForm()" class="marker">
  <div class="btn">Add link</div>
</div>
<div ng-include="'includes/dynamic_createLink.html'"></div>
<!-- <div ng-if="ctrl.pageShowing=='includes/dynamic_getAllLinks.html'"> -->

    <div class="listContainer2">
        <div ng-repeat="link in ctrl.allLinks track by $index" class="divListItem tubes">
          <div ng-click="ctrl.linkSelected(link)">
            <iframe width="560" height="315" ng-src="{{link.url.replace('watch?v=', 'embed/')}}" frameborder="0" allowfullscreen></iframe>
            <div class="divListItem_header">{{link.url.replace("watch?v=", "embed/")}}</div>
            <div>media type:{{link.media_type}}</div>
            <div class="">genre: {{link.genre}}</div>
          </div>
        </div>
    </div>

<!-- </div> -->
