<div ng-if="ctrl.pageShowing=='includes/dynamic_updateUser.html'">
  <div class="listContainer">
    <div>
      <div>username: {{ctrl.theUserSelected.username}}</div>
      <div>email: {{ctrl.theUserSelected.email}}</div>
    </div>
    <div class=""></div><br><br>
    <div ng-if="ctrl.ReadOneSubShowing!='delete'">
      <a ng-click="ctrl.ReadOneSubShowing='delete'">
          delete user
      </a><br><br>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing=='delete'" class="listContainer">
        Are you sure?<br><br>
        <form class="" ng-submit="ctrl.deleteUser()">
          <input type="submit" value="Delete this user">
        </form>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing!='update'">
      <a ng-click="ctrl.ReadOneSubShowing='update'"><br>
          update user
      </a>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing=='update'" class="listContainer">
      <form class="" ng-submit="ctrl.updateUser()">
        Update User<br>
        username:<br>
        <input type="text" ng-model="ctrl.userName" placeholder="{{ctrl.theUserSelected.username}}"><br>
        <br>email:<br>
        <input type="text" ng-model="ctrl.userEmail" placeholder="{{ctrl.theUserSelected.email}}"><br>
        <input type="submit" value="update this user">
      </form>
    </div>
  </div>
</div>
