<!-- <div ng-if="ctrl.pageShowing=='includes/dynamic_getAllLinks.html'"> -->
  <div>All Links: <br><br>
    <form class="" ng-submit="ctrl.getLinks()">
      <input type="submit" value="Show all links">
    </form>
    <div class="listContainer">
        <div ng-repeat="link in ctrl.allLinks track by $index" ng-mouseenter="hoverState = true" ng-mouseleave="hoverState = false" class="divListItem">
          <div ng-click="ctrl.linkSelected(link)">
            <div class="divListItem_header">{{link.url}}</div>
            <div>media type:{{link.media_type}}</div>
            <div class="">genre: {{link.genre}}</div>
          </div>
        </div>
    </div>
  </div>
<!-- </div> -->
