<div ng-if="ctrl.pageShowing=='includes/dynamic_updateLink.html'">
  <div class="listContainerX">
    <div>
      <iframe width="560" height="315" ng-src="{{ctrl.theLinkSelected.url.replace('watch?v=', 'embed/')}}" frameborder="0" allowfullscreen class="vid"></iframe>
      <div>url: {{ctrl.theLinkSelected.url}}</div>
      <div>media type: {{ctrl.theLinkSelected.media_type}}</div>
      <div>genre: {{ctrl.theLinkSelected.genre}}</div>
    </div>
    <br><br>
    <!-- GLYPHS: -->
    <span ng-if="ctrl.ReadOneSubShowing!='delete'" class="glyphicon glyphicon-trash" ng-click="ctrl.ReadOneSubShowing='delete'"></span>
    <span ng-if="ctrl.ReadOneSubShowing!='update'" class="glyphicon glyphicon-list-alt" ng-click="ctrl.ReadOneSubShowing='update'"></span>
    <!-- DELETE: -->
    <div ng-if="ctrl.ReadOneSubShowing=='delete'" class="listContainer">
        Are you sure?<br><br>
        <form class="" ng-submit="ctrl.deleteLink()">
          <input type="submit" value="Delete this link">
        </form>
        <form class="" ng-submit="ctrl.ReadOneSubShowing='none'">
          <input type="submit" value="cancel">
        </form>
    </div>
    <!-- UPDATE: -->
    <div ng-if="ctrl.ReadOneSubShowing=='update'" class="listContainer">
      <form class="" ng-submit="ctrl.updateLink()">
        Update Link<br>
        url:<br>
        <input type="text" ng-model="ctrl.linkName" placeholder="{{ctrl.theLinkSelected.url}}"><br>
        <br>media_type:<br>
        <input type="text" ng-model="ctrl.linkMediaType" placeholder="{{ctrl.theLinkSelected.media_type}}"><br>
        genre:<br>
        <input type="text" ng-model="ctrl.linkGenre" placeholder="{{ctrl.theLinkSelected.url}}"><br>
        <input type="submit" value="update this link">
      </form>
      <form class="" ng-submit="ctrl.ReadOneSubShowing='none'">
        <input type="submit" value="cancel">
      </form>
    </div>
  </div>
</div>
