<!-- <div ng-if="ctrl.pageShowing=='includes/dynamic_getAllLinks.html'"> -->
  <div>All links: <br><br>
    <div class="listContainer">
        <div ng-repeat="link in ctrl.allLinks track by $index" ng-mouseenter="hoverState = true" ng-mouseleave="hoverState = false" class="divListItem">
          <div ng-click="cCtrl.linkSelected(link)">
            <div class="divListItem_header">{{link.url}}</div>
            <div>{{link.type}}</div>
            <div class="divListItem_author">genre: {{link.genre}}</div>
          </div>
        </div>
    </div>
  </div>
<!-- </div> -->
