<div ng-if="ctrl.pageShowing=='includes/dynamic_updateLink.html'">
  <div class="listContainer">
    <div>
      <div>url: {{ctrl.theLinkSelected.url}}</div>
      <div>media type: {{ctrl.theLinkSelected.media_type}}</div>
      <div>genre: {{ctrl.theLinkSelected.genre}}</div>
    </div>
    <div class=""></div><br><br>
    <div ng-if="ctrl.ReadOneSubShowing!='delete'">
      <a ng-click="ctrl.ReadOneSubShowing='delete'">
          delete link
      </a><br><br>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing=='delete'" class="listContainer">
        Are you sure?<br><br>
        <form class="" ng-submit="ctrl.deleteLink()">
          <input type="submit" value="Delete this link">
        </form>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing!='update'">
      <a ng-click="ctrl.ReadOneSubShowing='update'"><br>
          update link
      </a>
    </div>
    <div ng-if="ctrl.ReadOneSubShowing=='update'" class="listContainer">
      <form class="" ng-submit="ctrl.updateLink()">
        <iframe width="560" height="315" src="{{$sce.trustAsUrl(link.url)}}" frameborder="0" allowfullscreen></iframe>
        Update Link<br>
        url:<br>
        <input type="text" ng-model="ctrl.linkName" placeholder="{{ctrl.theLinkSelected.url}}"><br>
        <br>media_type:<br>
        <input type="text" ng-model="ctrl.linkMediaType" placeholder="{{ctrl.theLinkSelected.media_type}}"><br>
        genre:<br>
        <input type="text" ng-model="ctrl.linkGenre" placeholder="{{ctrl.theLinkSelected.url}}"><br>
        <input type="submit" value="update this link">
      </form>
    </div>
  </div>
</div>
