<span class="marker title"><a style:"text-decoration: none" class="siteName" href="https://flowtracker-frontend.herokuapp.com">FlowTracker</a></span>
<div ng-if="ctrl.loggedIn==false">
  <div ng-if="ctrl.showRegisterForm==false">
    <form ng-submit="ctrl.login(userPass)">
        <input type="text" ng-model="userPass.username" placeholder="username"/>
        <input type="password" ng-model="userPass.password" placeholder="password"/>
        <input type="submit"/>
    </form>
    <a ng-click="ctrl.showRegisterForm=true;">
        Register
    </a>
  </div>
  <div ng-if="ctrl.showRegisterForm==true">
    <a ng-click="ctrl.showRegisterForm=false;">
        Login
    </a>
    <form ng-submit="ctrl.registration(userReg)">
      <!-- <input type="text" ng-model="userReg.name" placeholder="name"/> -->
      <input type="text" ng-model="userReg.email" placeholder="email"/>
      <input type="text" ng-model="userReg.username" placeholder="username"/>
      <input type="password" ng-model="userReg.password" placeholder="password"/>
      <input type="submit"/>
    </form>
  </div>
</div>
<div ng-if="ctrl.loggedIn==true">
  Logged in.
</div>
